// Breakpoints for mobile-first (min-width) media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 34rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
