/* Color & background utility classes. */

/* Black & White */
.alegra-color-black {
  color: $color-black;
}
.alegra-bg-black {
  background-color: $color-black;
}
.alegra-color-white {
  color: $color-white;
}
.alegra-bg-white {
  background-color: $color-white;
}

/* Primary */
.alegra-color-primary {
  color: $color-primary-5;
}
.alegra-bg-primary {
  background-color: $color-primary-5;
}
.alegra-color-primary-10 {
  color: $color-primary-10;
}
.alegra-bg-primary-10 {
  background-color: $color-primary-10;
}
.alegra-color-primary-20 {
  color: $color-primary-20;
}
.alegra-bg-primary-20 {
  background-color: $color-primary-20;
}
.alegra-color-primary-30 {
  color: $color-primary-30;
}
.alegra-bg-primary-30 {
  background-color: $color-primary-30;
}
.alegra-color-primary-40 {
  color: $color-primary-40;
}
.alegra-bg-primary-40 {
  background-color: $color-primary-40;
}
.alegra-color-primary-50 {
  color: $color-primary-50;
}
.alegra-bg-primary-50 {
  background-color: $color-primary-50;
}
.alegra-color-primary-70 {
  color: $color-primary-70;
}
.alegra-bg-primary-70 {
  background-color: $color-primary-70;
}
.alegra-color-primary-90 {
  color: $color-primary-90;
}
.alegra-bg-primary-90 {
  background-color: $color-primary-90;
}

/* Grays */
.alegra-color-dark {
  color: $color-dark;
}
.alegra-bg-dark {
  background-color: $color-dark;
}
.alegra-color-medium {
  color: $color-medium;
}
.alegra-bg-medium {
  background-color: $color-medium;
}
.alegra-color-light {
  color: $color-light;
}
.alegra-bg-light {
  background-color: $color-light;
}
.alegra-color-white-90 {
  color: $color-white-90;
}
.alegra-bg-white-90 {
  background-color: $color-white-90;
}
