.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 100%;

  @media (min-width: 20.625rem) {
    max-width: 18rem;
  }
  @media (min-width: 36rem) {
    max-width: 33.75rem;
  }
  @media (min-width: 48rem) {
    max-width: 46.25rem;
  }
  @media (min-width: 62rem) {
    max-width: 60rem;
  }
  @media (min-width: 75rem) {
    max-width: 71.25rem;
  }
}


.container-sm {
  @extend .container ;
  max-width: 40rem;
}


.container-md {
  @extend .container;
  max-width: 960px;
}