// Mixin for custom display flex
@mixin display-flex($direction: row, $j-content: center, $a-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
  }
  
  // Container and media query variables
  $grid-breakpoints: (
  xs: 0,
  sm: 34rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
  ) !default;
  
  
  @function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
  }
  
  // Break up points that make a min width media query
  @mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
   @media (min-width: $min) {
     @content;
   }
  } @else {
   @content;
  }
  }

// Define a list of spacing values
$spacing-values: 0, 1, 2, 3, 4, 5, 6;

// Generate padding classes
@mixin generate-padding-classes() {
  @each $value in $spacing-values {
    .p-#{$value} {
      padding: #{$value * 0.25}rem;
    }
    .pt-#{$value} {
      padding-top: #{$value * 0.25}rem;
    }
    .pb-#{$value} {
      padding-bottom: #{$value * 0.25}rem;
    }
    .pl-#{$value} {
      padding-left: #{$value * 0.25}rem;
    }
    .pr-#{$value} {
      padding-right: #{$value * 0.25}rem;
    }
    .py-#{$value} {
      padding-top: #{$value * 0.25}rem;
      padding-bottom: #{$value * 0.25}rem;
    }
    .px-#{$value} {
      padding-left: #{$value * 0.25}rem;
      padding-right: #{$value * 0.25}rem;
    }
  }
}

// Generate margin classes
@mixin generate-margin-classes() {
  @each $value in $spacing-values {
    .m-#{$value} {
      margin: #{$value * 0.25}rem;
    }
    .mt-#{$value} {
      margin-top: #{$value * 0.25}rem;
    }
    .mb-#{$value} {
      margin-bottom: #{$value * 0.25}rem;
    }
    .ml-#{$value} {
      margin-left: #{$value * 0.25}rem;
    }
    .mr-#{$value} {
      margin-right: #{$value * 0.25}rem;
    }
    .my-#{$value} {
      margin-top: #{$value * 0.25}rem;
      margin-bottom: #{$value * 0.25}rem;
    }
    .mx-#{$value} {
      margin-left: #{$value * 0.25}rem;
      margin-right: #{$value * 0.25}rem;
    }
  }
}

@include generate-padding-classes();
@include generate-margin-classes();
  
