// Mixin for custom display flex
@mixin display-flex($direction: row, $j-content: center, $a-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
  }
  
  // Container and media query variables
  $grid-breakpoints: (
  xs: 0,
  sm: 34rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
  ) !default;
  
  
  @function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
  }
  
  // Break up points that make a min width media query
  @mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
   @media (min-width: $min) {
     @content;
   }
  } @else {
   @content;
  }
  }
  
